<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/navBar.css">
    <link rel="stylesheet" href="styles/addRemovePlant.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascript/navBar.js"></script>
    <script src="javascript/addRemovePlant.js"></script>
    <title>Add/Remove Plant</title>
</head>

<body>
<div class="topnav" id="myTopnav">
    <a th:href="@{home}">Home</a>
    <a th:href="@{addRemovePlant}" class="active">Add/Remove Plant</a>
    <a th:href="@{addRemoveSensor}">Add/Remove Sensor</a>
    <a th:href="@{assignSensor}">Assign Sensor</a>
    <a href="javascript:void(0);" class="icon" onclick="responsiveNavBar()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="page-container">
    <div class="left">
    <h1>Add Plant</h1>
    <p>Please use the below form to enter your new plants details</p>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location"><br>
        <label for="type">Choose a plant type or 'Other' if not available:</label><br>
        <select id="type" name="type">
            <option>Other</option>
        </select><br><br>
        <button onclick = "addPlant()">Submit</button>
    </div>
    <div class="right">
    <h1>Remove Plant</h1>
    <p>Please choose the plant you want to remove from the dropdown</p>
    <div class="dropdown">
        <button class="dropbtn">Choose Plant</button>
        <div class="dropdown-content-remove">
        </div>
    </div>
    </div>
</div>
</body>

</html>